.bpw-floating-button {
  background-image: url('https://cdn-chato.s3.us-west-2.amazonaws.com/logos/gpd-icon.svg');
}

.bpw-floating-button i {
  display: none;
}

.bpw-header-container {
  background-color: #0074F9;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #0074F9;
}
